h1 {
    text-align: center;
    
}


.list {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    /* justify-content: space-evenly; */
}
a {
    text-decoration: none;
}

.beer-container {
    width: 280px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 10px double;
    border-radius: 8px;
    margin: 10px;
}

.beer-container img {
    width: 70%;
}
.beer-container div {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
}

form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
form > label {
    width: 54%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
label span {
    text-align: right;
    width: 45%;
}
label select {
    width: 160px;
}


form button {
    width: 100px
}


